　　<HTML> 
　　<HEAD> 
　　<TITLE>Search</TITLE> 
　　</HEAD> 
　　<BODY> 　　
　　<FORM method="POST" 
　　action="$link.setAction('/search')"> |(2) 
　　<h2>Book Search</h2> 
　　ISBN:<INPUT type="text" name="isbn"> 
　　<INPUT type="submit" value="Submit" name="submit"> 
　　</FORM> 
　　</BODY> 
　　</HTML> 