<?xml version="1.0" encoding="GBK"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.
com/xml/ns/j2ee/web-app_2_4.xsd">
 <context-param>
	  <param-name>contextConfigLocation</param-name>
	  <param-value>classpath:applicationContext.xml</param-value>
 </context-param>
 <!-- Spring --> 
 <listener>
  		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
 
<!-- Velocity --> 
	<servlet> 
		<servlet-name>velocity</servlet-name>
			<servlet-class>
			org.apache.velocity.tools.view.servlet.VelocityViewServlet 
			</servlet-class> 
		
		<init-param>
			<param-name>org.apache.velocity.toolbox</param-name> 
			<param-value>toolbox.xml</param-value>
		</init-param> 
		
		<load-on-startup>10</load-on-startup>
	</servlet> 
 
<!-- Map *.vm files to Velocity --> 
<servlet-mapping>
	<servlet-name>velocity</servlet-name> 
	<url-pattern>*.vm</url-pattern> 
</servlet-mapping> 
<filter> 
	<filter-name>struts2</filter-name> 
	<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class> 
</filter> 
<filter-mapping>
	<filter-name>struts2</filter-name> 
	<url-pattern>/*</url-pattern> 
</filter-mapping> 
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
