<?xml version="1.0" encoding="GBK"?><!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "/spring-beans.dtd"><beans>    <bean id="chatService" class="com.fly.test.chat.ChatService"/>	<bean id="chatMessageClient" class="com.fly.test.chat.ChatMessageClient"/>	<bean id="loginService" class="com.fly.test.chat.LoginService"/>	<import resource="conf/database/dataContext.xml"/>	<import resource="conf/managers/managersContext.xml"/>	<import resource="conf/services/servicesContext.xml"/></beans>