    <html>  
    <body>  
    <form action="hello.do">  
        <input type="text" name="userA.userName"/>  
        <textarea name = "chatContent" id="chatC" cols="45" rows="5"></textarea>
		<input type="password" name="userA.passWord"/>  
        <input type="submit" value="Ìá½»" />  
    </form>  
	$!name
    </body>  
    </html>  