<?xml version="1.0" encoding="GBK"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.
com/xml/ns/j2ee/web-app_2_4.xsd">
		
		<!-- 加载 Spring 容器配置 --> 
		 <listener>
				<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
		</listener>
		<!-- 设置 Spring 容器加载配置文件路径 --> 
		<context-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:applicationContext.xml</param-value>
		</context-param>
		<!-- 加载  DWR 容器配置 -->
		
		<listener>
			<listener-class>org.directwebremoting.servlet.DwrListener</listener-class>
		</listener>
		
		<!-- All the filters starts here-->
		
		<filter>
			<filter-name>struts2</filter-name>   
			<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class> 
		</filter> 
		
		<filter-mapping>
			<filter-name>struts2</filter-name>
			<url-pattern>/*</url-pattern>
		</filter-mapping>
		
		
		<servlet>
			<servlet-name>velocity</servlet-name>
				<servlet-class>org.apache.velocity.tools.view.servlet.VelocityViewServlet</servlet-class>
			<init-param>
				<param-name>org.apache.velocity.toolbox</param-name>
				<param-value>/WEB-INF/tools.xml</param-value>
			</init-param>
			<init-param>
				<param-name>org.apache.velocity.properties</param-name>
				<param-value>/WEB-INF/velocity.properties</param-value>
			</init-param>
			<load-on-startup>1</load-on-startup>
		</servlet>
<servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
        <param-name>debug</param-name>
        <param-value>true</param-value>
    </init-param>
        
    <!-- dwr的comet控制 -->
    <init-param>
      <param-name>pollAndCometEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
</servlet>
		
		<!-- Map *.vm files to Velocity -->
		<servlet-mapping>
		  <servlet-name>velocity</servlet-name>
		  <url-pattern>*.vm</url-pattern>
		</servlet-mapping>
<servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
</servlet-mapping>
		
		
		<session-config>
			<session-timeout>
				30
			</session-timeout>
		</session-config>
		
		<welcome-file-list>
			<welcome-file>index.jsp</welcome-file>
		</welcome-file-list>


</web-app>
