<html>  
<head>  
<title>Hello World</title>  
</head>  
<body>  
	
<h1>$message</h1> 
<h2>
	$userName	
	$city
	$getCity()
</h2>
<h3>this is the success.vm file. $session.msg</h3>
<h4>login status : $message</h4>
</body>  
</html> 